.border{
    border: #0774d6 1px solid;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    display: none;
    z-index: 99;
}
.active .direction,.active .border{
    display: block;
}
.direction{
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px #0774d6 solid;
    background-color: #0792ff;
    display: none;
    z-index: 100;
}

.nw{left: -4px; top: -4px; cursor: nw-resize}
.ws{left: -4px; bottom: -4px; cursor: sw-resize}
.se{right: -4px; bottom: -4px; cursor: se-resize}
.ne{right: -4px; top: -4px; cursor: ne-resize}


.w{left: -4px; top: 50%; margin-top: -3px; cursor: crosshair;border-radius: 5px;}
.s{left: 50%; bottom: -4px; margin-left: -3px; cursor: crosshair;border-radius: 5px;}
.e{right: -4px; top: 50%; margin-top: -3px; cursor: crosshair;border-radius: 5px;}
.n{top:-4px;left: 50%;margin-left: -3px;cursor: crosshair;border-radius: 5px;}
